
<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header"> Frequently Asked Questions </h2>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading1">
              <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">{{question1}} </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
              <div class="panel-body">
                {{#each answer1}}
                  <p class="answer">{{this}}</p>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading2">
              <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">{{question2}}</h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
              <div class="panel-body">
                {{#each answer2}}
                  <p class="answer">{{this}}</p>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading3">
              <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">{{question3}}</h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
              <div class="panel-body">
                {{#each answer3}}
                  <p class="answer">{{this}}</p>
                {{/each}}
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading4">
              <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">{{question4}}</h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
              <div class="panel-body">
                {{#each answer4}}
                  <p class="answer">{{this}}</p>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading5">
              <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">{{question5}}</h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
              <div class="panel-body">
                {{#each answer5}}
                  <p class="answer">{{this}}</p>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading6">
              <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">{{question6}}</h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
              <div class="panel-body">
                {{#each answer6}}
                  <p class="answer">{{this}}</p>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading7">
              <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">{{question7}}</h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
              <div class="panel-body">
                {{#each answer7}}
                  <p class="answer">{{this}}</p>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading8">
              <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">{{question8}}</h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
              <div class="panel-body">
                {{#each answer8}}
                  <p class="answer">{{this}}</p>
                {{/each}}
              </div>
            </div>
          </div>



        </div>


      </div>
    </div>
  </div>
</div>