<div class="row form-row">
  <div class="col-md-6 col-md-offset-3">

    <div class="survey_slide__header">
      <h2 class="survey_slide__header__title">{{heading}}</h2>
      <p class="survey_slide__header__caption">{{caption}}</p>
    </div>

    <form data-toggle="validator" role="form">

      <div class="question form-group">
        <label class="question_label">First Name</label>
        <input type="text" class="form-control" id="first-name-input" data-error="Please provide a first name" data-delay="0" required>
        <div class="help-block with-errors"></div>
      </div>

      <div class="question form-group">
        <label class="question_label">Last Name</label>
        <input type="text" class="form-control" id="last-name-input" data-error="Please provide a last name" required>
        <div class="help-block with-errors"></div>
      </div>


      <div class="question form-group">
        <label class="question_label">Phone Number</label>
        <input type="tel" class="form-control" id="phone-input" data-minlength="10" required>
        <div class="help-block with-errors"></div>
      </div>

      <div class="question form-group">
        <label class="question_label">Email</label>
        <input type="email" class="form-control" id="email-input" data-error="Oops, the email address is not valid" >
        <div class="help-block with-errors"></div>
      </div>

      <div class="question form-group">
        <label class="question_label">Where in the bay would you like to work?</label>
        {{#each cities}}
        <span class="button-checkbox">
          <button type="button" class="btn" data-color="primary">{{this}}</button>
          <input type="checkbox" class="hidden" />
        </span>
        {{/each}}
      </div>


      <div class="question form-group">
        <label class="question_label">How many hours a week can you work?</label>
        <input type="text" class="form-control" id="hours-a-week">
        <div id="desired-locations-error" class="help-block with-errors"></div>
      </div>

      <div class="question form-group" id="valid-license">
        <label class="question_label">Do you have a valid Driver's License?</label>
        <span class="button-checkbox">
          <button name="license" type="button" class="btn radio" data-color="primary">Yes</button>
          <input type="checkbox" class="hidden" />
        </span>
        <span class="button-checkbox">
          <button name="license" type="button" class="btn radio" data-color="primary">No</button>
          <input type="checkbox" class="hidden" />
        </span>

        <span class="button-checkbox">
          <button style="width:100%" name="license" type="button" class="btn radio" data-color="primary">Check if you have a valid driver's license</button>
          <input type="checkbox" class="hidden" />
        </span>

      </div>


      <div class="question form-group">
        <label class="question_label">Are you willing to do a background check?</label>
        <span class="button-checkbox">
          <button name="background-check" type="button" class="btn radio" data-color="primary">Yes</button>
          <input type="checkbox" class="hidden" />
        </span>
        <span class="button-checkbox">
          <button name="background-check" type="button" class="btn radio" data-color="primary">No</button>
          <input type="checkbox" class="hidden" />
        </span>
      </div>


      <div class="question form-group">
        <label class="question_label">When would you like to receive a phone call?</label>
        <input type="text" class="form-control" id="time-to-call">
      </div>

      
      <!-- <a class="button" id="submit-button"> Get your free consultation</a>  -->
      <button class="button button--green" id="submit-button"> Get your free consultation</button>

    </form>

  </div>

</div> 

<!--<div class="row form-row">
  <div class="col-md-6 col-md-offset-3">
    <div class="slider">

      <div class="row survey_slide">

        <div class="survey_slide__header">
          <h2 class="survey_slide__header__title">{{heading}}</h2>
          <p class="survey_slide__header__caption">{{caption}}</p>
        </div>

        <form>


          <div class="question">
            <label class="question_label">First Name</label>
            <input type="text" class="form-control" id="first-name-input">
          </div>

          <div class="question">
            <label class="question_label">Last Name</label>
            <input type="text" class="form-control" id="last-name-input">
          </div>


          <div class="question">
            <label class="question_label">Phone Number</label>
            <input type="tel" class="form-control" id="phone-input">
          </div>

          <div class="question">
            <label class="question_label">Email</label>
            <input type="email" class="form-control" id="email-input">
          </div>

          <div class="question">
            <label class="question_label">What year were you born?</label>
            <input type="text" class="form-control" id="birth-year-input">
          </div>

          <div class="question">
            <label class="question_label">Where in the bay would you like to work?</label>
            {{#each cities}}
            <span class="button-checkbox">
              <button type="button" class="btn" data-color="primary">{{this}}</button>
              <input type="checkbox" class="hidden" />
            </span>
            {{/each}}
          </div>


          <div class="question">
            <label class="question_label">How many hours a week can you work?</label>
            <input type="text" class="form-control" id="hours-a-week">
          </div>

          <div class="question">
            <label class="question_label">Do you have a valid Driver's License?</label>
            <span class="button-checkbox">
              <button type="button" class="btn radio" data-color="primary">Yes</button>
              <input type="checkbox" class="hidden" />
            </span>
            <span class="button-checkbox">
              <button type="button" class="btn radio" data-color="primary">No</button>
              <input type="checkbox" class="hidden" />
            </span>
          </div>


          <div class="question">
            <label class="question_label">Are you willing to do a background check?</label>
            <span class="button-checkbox">
              <button type="button" class="btn radio" data-color="primary">Yes</button>
            </span>
            <span class="button-checkbox">
              <button type="button" class="btn radio" data-color="primary">No</button>
            </span>
          </div>



          <div class="question">
            <label class="question_label">When would you like to receive a phone call?</label>
            <input type="text" class="form-control" id="time-to-call">
          </div>

          <a class="button" id="next-button">Get your free consultation</a>

        </form>

        
      </div>



    </div>
  </div>
</div> -->