<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <form data-toggle="validator" role="form">

      <h2 class="form-title">{{heading}}</h2>

      <div class="question form-group">
        <label class="question_label">First Name</label>
        <input name="first-name" type="text" class="form-control" id="first-name-input" data-error="Please provide a first name" data-delay="0" required>
        <div class="help-block with-errors"></div>
      </div>


      <div class="question form-group">
        <label class="question_label">Last Name</label>
        <input name="last-name" type="text" class="form-control" id="last-name-input" data-error="Please provide a last name">
        <div class="help-block with-errors"></div>
      </div>


      <div class="question form-group">
        <label class="question_label">Phone Number</label>
        <input name="phone" type="tel" class="form-control" id="phone-input" placeholder="(xxx) xxx-xxxx" data-error="Please provide a valid phone number" required>
        <div class="help-block with-errors"></div>
      </div>


      <div class="question form-group">
        <label class="question_label">Email</label>
        <input name="email" type="email" class="form-control" id="email-input" data-error="Please provide an email address" required>
        <div class="help-block with-errors"></div>
      </div>


      <div class="question form-group" id="desired-locations">
        <label class="question_label">Where would you prefer to work?</label>
        <section class="two-column-section">
        {{#each cities}}
          <label class="checkbox-item">
            <input name="desired-location" value="{{this}}" type="checkbox"/> {{this}}
            <label></label>
          </label>
        {{/each}}
        </section>
        <div class="desired-locations-error"> Please select at least one region </div>
      </div>


      <div class="question form-group">
        <label class="question_label">How many hours per week are you available to work?</label>
        <section class="two-column-section">
        {{#each number-of-hours}}
          <label class="radio-item">
            <input name="available-hours" type="radio" value="{{this}}"/> {{this}}
            <label></label>
          </label>
        {{/each}}
        </section>
        <div id="available-hours-error" class="help-block with-errors"></div>
      </div>


      <div class="question form-group">
        <label class="question_label">Do you have a valid driver's license?</label>
        <section class="two-column-section">
          <label class="radio-item">
            <input name="valid-license" type="radio" value="No"/> No
            <label></label>
          </label>
          <label class="radio-item">
            <input name="valid-license" type="radio" value="Yes"/> Yes
            <label></label>
          </label>
        </section>
        <div id="valid-drivers-license-error" class="help-block with-errors"></div>
      </div>


      <div class="question form-group">
        <label class="question_label">Are you willing to do a background check?</label>
        <section class="two-column-section">
          <label class="radio-item">
            <input name="background-check" type="radio" value="No"/> No
            <label></label>
          </label>
          <label class="radio-item">
            <input name="background-check" type="radio" value="Yes"/> Yes
            <label></label>
          </label>
        </section>
        <div id="background-check-error" class="help-block with-errors"></div>
      </div>


      <div class="question form-group">
        <label class="question_label">When can we contact you for a free consultation?</label>
        <section class="two-column-section">
        {{#each time-to-call}}
          <label class="checkbox-item">
            <input name="time-to-call" type="checkbox" value="{{this}}"/> {{this}}
            <label></label>
          </label>
        {{/each}}
        <div class="help-block with-errors"></div>
      </div>

      
    <button type="button" class="button button--green" id="submit-button"> Become a Driver </button>
    <p id="terms-notice"> By pressing the above link you agree to our <a href="terms.html"> Terms of Service </a> </p>
    <p id="form-error-message">Whoops, looks like there are some errors </p>

    </form>



    <!-- Modal -->
    <div class="modal fade" id="thank-you-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
          </div>
          <div class="modal-body">
            <p class="thank-you-message">We'll call you in the next 24 hours. In the mean time, if you have any questions, please feel free to call or email us: </p>
            <p> <span class="bold"> Email: </span> chris@getchoice.io </p>
            <p> <span class="bold"> Phone: </span> 123-123-1234 </p>
          </div>
          <div class="modal-footer">
            <a id="close-link" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> 
