<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <form id="driver-form">

      <h2 class="form-title">{{heading}}</h2>


      <div class="question form-group">
        <label class="question_label">Name</label>
        <input name="name" type="text" class="form-control" id="name-input">
      </div>

      <div class="question form-group">
        <label class="question_label">Phone Number*</label>
        <input name="phone" type="tel" class="form-control" id="phone-input" minlength="10" placeholder="(xxx) xxx-xxxx"required>
        <p class="validation-error" id="phone-error"> Please input a valid phone number, including your area code </p>
      </div>


      <div class="question form-group">
        <label class="question_label">Email*</label>
        <input name="email" type="email" class="form-control" minlength="5" id="email-input" required>
        <p class="validation-error" id="email-error"> Please input a valid email address </p>
      </div>



      <div class="question form-group">
        <label class="question_label">How many hours per week are you available to work?</label>
        <section class="two-column-section">
        {{#each number-of-hours}}
          <label class="radio-item">
            <input name="available-hours" type="radio" value="{{this}}"/> {{this}}
            <label></label>
          </label>
        {{/each}}
        </section>
      </div>


      <div class="question form-group">
        <label class="question_label">Do you have a valid driver's license?</label>
        <section class="two-column-section">
          <label class="radio-item">
            <input name="valid-license" type="radio" value="No"/> No
            <label></label>
          </label>
          <label class="radio-item">
            <input name="valid-license" type="radio" value="Yes"/> Yes
            <label></label>
          </label>
        </section>
      </div>


      <div class="question form-group">
        <label class="question_label">Are you willing to do a background check?</label>
        <section class="two-column-section">
          <label class="radio-item">
            <input name="background-check" type="radio" value="No"/> No
            <label></label>
          </label>
          <label class="radio-item">
            <input name="background-check" type="radio" value="Yes"/> Yes
            <label></label>
          </label>
        </section>
      </div>


       <div class="question form-group">
        <label class="question_label">When can we contact you for a free consultation?</label>
        <section class="two-column-section">
          {{#each time-to-call}}
            <label class="checkbox-item">
              <input name="time-to-call" type="checkbox" value="{{this}}"/> {{this}}
              <label></label>
            </label>
          {{/each}}
        </section>
      </div>


      <div class="question form-group">
        <section>
          <label class="checkbox-item">
            <input name="terms" type="checkbox" id="terms-checkbox" required/> 
            <p id="terms-notice"> By checking this box and clicking “Find a Job" below, you acknowledge that you have read and agree to abide by our <a id="terms-link" href="terms.html"> Terms of Service </a> </p>
            <label></label>
          </label>
        </section>
        <p class="validation-error" id="terms-error"> Please read and agree to our Terms of Service </p>
      </div>


      
      <button type="button" class="button button--green" id="submit-button"> Find a Job </button>
      <p class="form-error-message">Looks like some fields are invalid. Please correct them and try again.</p>
      <p class="form-success-message">Thanks! We'll reach out shortly</p>

    </form>



    <!-- Modal -->
    <div class="modal fade" id="thank-you-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
          </div>
          <div class="modal-body">
            <p class="thank-you-message">We'll call you in the next 24 hours. In the mean time, if you have any questions, please feel free to call or email us: </p>
            <p> <span class="bold"> Email: </span> chris@getchoice.io </p>
            <p> <span class="bold"> Phone: </span> 123-123-1234 </p>
          </div>
          <div class="modal-footer">
            <a id="close-link" data-dismiss="modal" css="cursor:pointer">Close</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> 
